{% extends "template.html" %}

{% block section_content %}
    <div class="container">
        <br />
        <h2>Armas y Equipo</h2>
        <div class="row">
            <div class="col-3">
                {% block section_content_navigator %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link{% if '/weapons' in request.path %} active{% endif %}" href="{% url 'weapons' %}">Armas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if '/armor' in request.path %} active{% endif %} disabled" href="armor">Blindaje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if '/gear' in request.path %} active{% endif %} disabled" href="gear">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if '/cyberware' in request.path %} active{% endif %} disabled" href="cyberware">Ciberequipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if '/clothes' in request.path %} active{% endif %} disabled" href="clothes">Moda</a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
            <div class="col-9">
                <div class="text-center" id="spinner">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                    <br />
                    <h6>Cargando información disponible en la base de datos...</h6>
                    <br />
                </div>
                <script>
                    $("#spinner").show();
                </script>
                {% block section_content_content%}{% endblock %}
                <script>
                    $(document).ready(function() {
                        $('#dataResults').DataTable({
                            info: true,
                            ordering: true,
                            paging: true,
                            processing: true,
                            stateSave: true,
                            pageLength: 50,
                            language: {
                                "lengthMenu": "Mostrando _MENU_ registros por página",
                                "search": "Buscar:",
                                "zeroRecords": "No se ha encontrado nada",
                                "info": "Mostrando página _PAGE_ de _PAGES_",
                                "infoEmpty": "Mostrando 0 de 0 registros",
                                "infoFiltered": "(filtrado de un total de _MAX_ registros)", 
                                "paginate": {
                                    "first":      "Primera",
                                    "last":       "Última",
                                    "next":       "Siguiente",
                                    "previous":   "Anterior"
                                },
                                "loadingRecords": "Cargando datos..."
                            }
                        });
                        $("#spinner").hide();
                    });
                </script>
            </div>
        </div>
    <div>
{% endblock %}