{% extends "template.html" %}

{% load cpadmin_extras %}

{% block section_content %}
    <div class="container">
        <br />
        <div class="row">
            <div class="col-12 col-md-3">
                {% block section_content_navigator %}
                    <div class="d-md-block d-none">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link{% if 'weapons' in request.path %} active{% endif %}" href="{% url 'weapons' %}">Armas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if 'armor' in request.path %} active{% endif %}" href="{% url 'armor' %}">Blindaje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if 'gear' in request.path %} active{% endif %}" href="{% url 'gear' %}">Equipo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if 'cyberware' in request.path %} active{% endif %}" href="{% url 'cyberware' %}">Ciberequipo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if 'clothes' in request.path %} active{% endif %}" href="{% url 'clothes' %}">Moda</a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-md-none" style="height:100%; text-align:right;">
                        <select class="form-control" onchange="location.href='{% url 'equipment' %}'+this.value">
                            <option value="weapons"{% if 'weapons' in request.path %} selected{% endif %}>Armas</option>
                            <option value="armor"{% if 'armor' in request.path %} selected{% endif %}>Blindaje</option>
                            <option value="gear"{% if 'gear' in request.path %} selected{% endif %}>Equipo</option>
                            <option value="cyberware"{% if 'cyberware' in request.path %} selected{% endif %}>Ciberequipo</option>
                            <option value="clothes"{% if 'clothes' in request.path %} selected{% endif %}>Moda</option>
                        </select>
                        <br/>
                    </div>
                {% endblock %}
            </div>
            <div class="col-12 col-md-9">
                <h3>{{ page_title }}</h3>
                <br/>
                <div class="text-center" id="spinner" style="display: block">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                    <br />
                    <h6>Cargando información disponible en la base de datos...</h6>
                    <br />
                </div>
                <div id="pageContent" style="display: none">
                    {% block section_content_content%}{% endblock %}
                </div>
                <script>   
                    $(document).ready(function() {
                        $('#dataResults').DataTable({
                            info: true,
                            ordering: true,
                            paging: true,
                            processing: true,
                            stateSave: true,
                            pageLength: 50,
                            language: {
                                "lengthMenu": "Mostrando _MENU_ registros por página",
                                "search": "Buscar:",
                                "zeroRecords": "No se ha encontrado nada",
                                "info": "Mostrando página _PAGE_ de _PAGES_",
                                "infoEmpty": "Mostrando 0 de 0 registros",
                                "infoFiltered": "(filtrado de un total de _MAX_ registros)", 
                                "paginate": {
                                    "first":      "Primera",
                                    "last":       "Última",
                                    "next":       "Siguiente",
                                    "previous":   "Anterior"
                                },
                                "loadingRecords": "Cargando datos..."
                            }
                        });

                        changeDiv("#spinner", "#pageContent");
                    });
                </script>
            </div>
        </div>
    <div>
{% endblock %}