{% extends "drugs.html" %}

{% block section_content_content %}
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#uploadDrugsModal">
                Subir CSV <i class="fa-solid fa-upload"></i>
            </a>
            <div class="modal fade" id="uploadDrugsModal" tabindex="-1" aria-labelledby="uploadDrugsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{% url 'drugs' %}/upload" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="uploadDrugsModalLabel">Subir CSV</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="csv_file" class="form-label">Archivo CSV:</label>
                                    <input type="file" name="csv_file" id="csv_file" class="form-control"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Subir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <a class="btn btn-primary" href="{% url 'drugs' %}/download">
                Descargar CSV <i class="fa-solid fa-download"></i>
            </a>

            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#refreshToDrugsModal">
                Recargar <i class="fa-solid fa-cloud-arrow-up"></i>
            </a>
            <div class="modal fade" id="refreshToDrugsModal" tabindex="-1" aria-labelledby="refreshToDrugsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{% url 'drugs' %}/refresh" method="POST">
                            <input type="hidden" name="source" value="local"/>
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="refreshToDrugsModalLabel">Recargar Modelo Firebase</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    ¿Está seguro que quiere actualizar los datos de la nube?
                                    Este proceso puede tardar varios minutos y sobrescribirá los datos existentes.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Sí</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#refreshFromDrugsModal">
                Refrescar <i class="fa-solid fa-cloud-arrow-down"></i>
            </a>
            <div class="modal fade" id="refreshFromDrugsModal" tabindex="-1" aria-labelledby="refreshFromDrugsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{% url 'drugs' %}/refresh" method="POST">
                            <input type="hidden" name="source" value="firebase"/>
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="refreshFromDrugsModalLabel">Recargar Modelo de Firebase</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    ¿Está seguro que quiere actualizar los datos locales con los que están en la base de datos de la nube?
                                    Este proceso puede tardar varios minutos
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Sí</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <a class="btn btn-success" href="#" data-bs-toggle="modal" data-bs-target="#addDrugsModal">
                Nuevo <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <div class="modal fade" id="addDrugsModal" tabindex="-1" aria-labelledby="addDrugsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form action="{% url 'drugs' %}/create" method="POST">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addDrugsModalLabel">Agregar Droga</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nombre de la Droga:</label>
                                        <input type="text" name="name" id="name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Descripción:</label>
                                        <input type="text" name="description" id="description" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-6">
                                        <label for="category" class="form-label">Categoría:</label>
                                        <select name="category" id="category" class="form-select">
                                            <option selected/>
                                            {% for category in categories %}
                                                {% if not category.parent %}
                                                    <option value="{{ category.id }}">{{ category.name }} ({{ category.description }})</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="type" class="form-label">Tipo:</label>
                                        <select name="type" id="type" class="form-select">
                                            <option selected/>
                                            {% for key, value in drugs_types %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-6">
                                        <label for="legality" class="form-label">Legalidad:</label>
                                        <select name="legality" id="legality" class="form-select">
                                            <option selected/>
                                            {% for key, value in drug_legalities %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="form" class="form-label">Forma:</label>
                                        <select name="form" id="form" class="form-select">
                                            <option selected/>
                                            {% for key, value in drug_forms %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-3">
                                        <label for="dosis" class="form-label">Dosis:</label>
                                        <input type="text" name="dosis" id="dosis" class="form-control"/>
                                    </div>
                                    <div class="mb-3 col-4">
                                        <label for="presentation" class="form-label">Presentación:</label>
                                        <input type="text" name="presentation" id="presentation" class="form-control"/>
                                    </div>
                                    <div class="mb-3 col-2">
                                        <label for="strength" class="form-label">Fuerza:</label>
                                        <input type="text" name="strength" id="strength" class="form-control"/>
                                    </div>
                                    <div class="mb-3 col-3">
                                        <label for="speed" class="form-label">Velocidad de Acción:</label>
                                        <input type="text" name="speed" id="speed" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-6">
                                        <label for="effects" class="form-label">Efectos Principales:</label>
                                        <select name="effects" id="effects" class="form-select" multiple>
                                            {% for drug_effect in drug_effects %}
                                                <option value="{{ drug_effect.id }}">{{ drug_effect.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="side_effects" class="form-label">Efectos Secundarios:</label>
                                        <select name="side_effects" id="side_effects" class="form-select" multiple>
                                            {% for drug_side_effect in drug_side_effects %}
                                                <option value="{{ drug_side_effect.id }}">{{ drug_side_effect.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-6">
                                        <label for="effects_description" class="form-label">Descripción Efectos:</label>
                                        <textarea name="effects_description" id="effects_description" class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="side_effects_description" class="form-label">Descripción Efectos Secundarios:</label>
                                        <textarea name="side_effects_description" id="side_effects_description" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-3">
                                        <label for="duration" class="form-label">Duración:</label>
                                        <input type="text" name="duration" id="duration" class="form-control"/>
                                    </div>
                                    <div class="mb-3 col-3">
                                        <label for="addiction" class="form-label">Addicción:</label>
                                        <select name="addiction" id="addiction" class="form-select">
                                            <option selected/>
                                            {% for key, value in drug_addictions %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 col-3">
                                        <label for="next_dose" class="form-label">Tiempo Siguiente Dosis:</label>
                                        <input type="text" name="next_dose" id="next_dose" class="form-control"/>
                                    </div>
                                    <div class="mb-3 col-3">
                                        <label for="symptoms" class="form-label">Tiempo Síntomas:</label>
                                        <input type="text" name="symptoms" id="symptoms" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-8 offset-2">
                                        <label for="overdose_description" class="form-label">Descripción Sobredosis:</label>
                                        <textarea name="overdose_description" id="overdose_description" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-4 offset-4">
                                        <label for="cost" class="form-label">Precio (creds):</label>
                                        <input type="text" name="cost" id="cost" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <br />
    <table class="table table-striped table-hover align-middle nowrap" id="dataResults">
        <caption>{{ drugs_count }} artículos disponibles</caption>
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Categoría</th>
                <th scope="col" class="text-center">Forma</th>
                <th scope="col" class="text-center">Precio</th>
                <th scope="col" class="text-center">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drugs %}
                <tr>
                    <th scope="row" class="text-center">{{ drug.id }}</th>
                    <td>{{ drug.name }}</td>
                    <td>{{ drug.category.name }}</td>
                    <td>{{ drug.get_form_display }}</td>
                    <td class="text-end">{{ drug.cost|stringformat:"3d" }} creds</td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#viewDrugs{{ drug.id }}Modal"><i class="fa-solid fa-eye"></i></button>
                        <div class="modal fade" id="viewDrugs{{ drug.id }}Modal" tabindex="-1" aria-labelledby="viewDrugs{{ drug.id }}ModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="viewDrugs{{ drug.id }}ModalLabel">{{ drug.name }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <table class="table table-borderless">
                                                <caption>&nbsp;</caption>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" class="text-end">Nombre:</td>
                                                        <td>{{ drug.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Categoría:</td>
                                                        <td>{{ drug.category.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Tipo:</td>
                                                        <td>{{ drug.get_type_display }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Legalidad:</td>
                                                        <td>{{ drug.get_legality_display }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Forna:</td>
                                                        <td>{{ drug.get_form_display }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Dosis:</td>
                                                        <td>{{ drug.dosis }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Presentación:</td>
                                                        <td>{{ drug.presentation }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Fuerza:</td>
                                                        <td>+{{ drug.strength|stringformat:"1d" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Velocidad de Acción:</td>
                                                        <td>{{ drug.speed }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Efectos:</td>
                                                        <td>{{ drug.effects_description }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Duración:</td>
                                                        <td>{{ drug.duration }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Efectos Secundarios:</td>
                                                        <td>{{ drug.side_effects_description }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Adicción:</td>
                                                        <td>{{ drug.get_addiction_display }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Tiempo Siguiente Dosis:</td>
                                                        <td>{{ drug.next_dose }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Tiempo Síntomas:</td>
                                                        <td>{{ drug.symptoms }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Sobredosis:</td>
                                                        <td>{{ drug.overdose_description }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Precio:</td>
                                                        <td>{{ drug.cost|stringformat:"3d" }} creds</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-end">Descripción:</td>
                                                        <td>{{ drug.description }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#editDrugs{{ drug.id }}Modal"><i class="fa-solid fa-pen-to-square"></i></button>
                        <div class="modal fade" id="editDrugs{{ drug.id }}Modal" tabindex="-1" aria-labelledby="editDrugs{{ drug.id }}ModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form action="{% url 'drugs' %}/update" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ drug.id }}"/>
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editDrugs{{ drug.id }}ModalLabel">Actualizar Droga</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label">Nombre del Droga:</label>
                                                    <input type="text" name="name" id="name" value="{{ drug.name }}" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3">
                                                    <label for="description" class="form-label">Descripción:</label>
                                                    <input type="text" name="description" id="description" value="{{ drug.description }}" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="category" class="form-label">Categoría:</label>
                                                    <select name="category" id="category" class="form-select">
                                                        <option selected/>
                                                        {% for category in categories %}
                                                            {% if not category.parent %}
                                                                <option value="{{ category.id }}"{% if drug.category.id == category.id %} selected{% endif %}>{{ category.name }} ({{ category.description }})</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="type" class="form-label">Tipo:</label>
                                                    <select name="type" id="type" class="form-select">
                                                        <option selected/>
                                                        {% for key, value in drugs_types %}
                                                            <option value="{{ key }}"{% if drug.type == key %} selected{% endif %}>{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="legality" class="form-label">Legalidad:</label>
                                                    <select name="legality" id="legality" class="form-select">
                                                        <option selected/>
                                                        {% for key, value in drug_legalities %}
                                                            <option value="{{ key }}"{% if drug.legality == key %} selected{% endif %}>{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="form" class="form-label">Forma:</label>
                                                    <select name="form" id="form" class="form-select">
                                                        <option selected/>
                                                        {% for key, value in drug_forms %}
                                                            <option value="{{ key }}"{% if drug.form == key %} selected{% endif %}>{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-3">
                                                    <label for="dosis" class="form-label">Dosis:</label>
                                                    <input type="text" name="dosis" id="dosis" value="{{ drug.dosis }}" class="form-control"/>
                                                </div>
                                                <div class="mb-3 col-4">
                                                    <label for="presentation" class="form-label">Presentación:</label>
                                                    <input type="text" name="presentation" id="presentation" value="{{ drug.presentation }}" class="form-control"/>
                                                </div>
                                                <div class="mb-3 col-2">
                                                    <label for="strength" class="form-label">Fuerza:</label>
                                                    <input type="text" name="strength" id="strength" value="{{ drug.strength }}" class="form-control"/>
                                                </div>
                                                <div class="mb-3 col-3">
                                                    <label for="speed" class="form-label">Velocidad de Acción:</label>
                                                    <input type="text" name="speed" id="speed" value="{{ drug.speed }}" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="effects" class="form-label">Efectos Principales:</label>
                                                    <select name="effects" id="effects" class="form-select" multiple>
                                                        {% for drug_effect in drug_effects %}
                                                            <option value="{{ drug_effect.id }}"{% if drug_effect in drug.effects.all %} selected{% endif %}>{{ drug_effect.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="side_effects" class="form-label">Efectos Secundarios:</label>
                                                    <select name="side_effects" id="side_effects" class="form-select" multiple>
                                                        {% for drug_side_effect in drug_side_effects %}
                                                            <option value="{{ drug_side_effect.id }}"{% if drug_side_effect in drug.side_effects.all %} selected{% endif %}>{{ drug_side_effect.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="effects_description" class="form-label">Descripción Efectos:</label>
                                                    <textarea name="effects_description" id="effects_description" class="form-control" rows="3">{{ drug.effects_description }}</textarea>
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="side_effects_description" class="form-label">Descripción Efectos Secundarios:</label>
                                                    <textarea name="side_effects_description" id="side_effects_description" class="form-control" rows="3">{{ drug.side_effects_description }}</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-3">
                                                    <label for="duration" class="form-label">Duración:</label>
                                                    <input type="text" name="duration" id="duration" value="{{ drug.duration }}" class="form-control"/>
                                                </div>
                                                <div class="mb-3 col-3">
                                                    <label for="addiction" class="form-label">Addicción:</label>
                                                    <select name="addiction" id="addiction" class="form-select">
                                                        <option selected/>
                                                        {% for key, value in drug_addictions %}
                                                            <option value="{{ key }}"{% if drug.addiction == key %} selected{% endif %}>{{ value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-3">
                                                    <label for="next_dose" class="form-label">Tiempo Siguiente Dosis:</label>
                                                    <input type="text" name="next_dose" id="next_dose" value="{{ drug.next_dose }}" class="form-control"/>
                                                </div>
                                                <div class="mb-3 col-3">
                                                    <label for="symptoms" class="form-label">Tiempo Síntomas:</label>
                                                    <input type="text" name="symptoms" id="symptoms" value="{{ drug.symptoms }}" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-8 offset-2">
                                                    <label for="overdose_description" class="form-label">Descripción Sobredosis:</label>
                                                    <textarea name="overdose_description" id="overdose_description" class="form-control" rows="3">{{ drug.overdose_description }}</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-4 offset-4">
                                                    <label for="cost" class="form-label">Precio (creds):</label>
                                                    <input type="text" name="cost" id="cost" value="{{ drug.cost }}" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#removeDrugs{{ drug.id }}Modal"><i class="fa-solid fa-trash"></i></button>
                        <div class="modal fade" id="removeDrugs{{ drug.id }}Modal" tabindex="-1" aria-labelledby="removeDrugs{{ drug.id }}ModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="{% url 'drugs' %}/delete" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ drug.id }}"/>
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="removeDrugs{{ drug.id }}ModalLabel">Eliminar {{ drug.name }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                ¿Está seguro que quiere eliminar {{ drug.name }}?
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-primary">Sí</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}